#house-cleaning {
  background: url('/images/cleaning-with-gloves.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.hc-img {
  position: absolute !important;

  &-r-1 {
    top: calc(50% - 37.5px);
    right: calc(50% - 175px);

    @media (min-width: 1024px) {
      right: -16px;
      top: -8px;
    }
  }

  &-l-1 {
    top: calc(50% - 37.5px);
    left: calc(50% - 175px);

    @media (min-width: 1024px) {
      right: auto;
      bottom: -8px;
      left: -32px;
      top: auto;
    }
  }
}
