#transportation {
  background: url('/images/courier.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.t-img {
  position: absolute !important;

  &-r-1 {
    top: calc(50% - 37.5px);
    right: calc(50% - 175px);

    @media (min-width: 1024px) {
      left: -16px;
      top: -100px;
      right: auto;
    }
  }

  &-l-1 {
    top: calc(50% - 37.5px);
    left: calc(50% - 175px);

    @media (min-width: 1024px) {
      left: -16px;
      bottom: -100px;
      top: auto;
    }
  }
}
